
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:#9c9c9c ;
}
label{
    color: #444;
    font-size: 20px;
    margin-bottom: 30px;
}
input{
    border: none;
    border: 2px solid #393838;
    padding: 15px 0;
}
input[type="text"],
input[type="password"]
{
    width: 400px;
    margin: 0 auto;
}
.header{
    background-color: #9c9c9c;
    padding:20px;
    height: 100px;
    text-align: center;
    font-size: 40px;
}
.header h3{
    color: #fff;
    margin-top: 0;
}
.form-container{
    padding: 30px;
    background-color: #fdfdfd;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.box-input{
    margin-bottom: 30px;
}
.block{
    display: block;
}
.btn-submit{
    background-color: #909090;
    color: #000;
    border: 2px solid #000;
    width:150px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5;
    margin-top: 25px;
}
.btn-submit:hover{
    background-color: #b8b8b8;
    border-color: #000;
    color: #fff;
}
.sign-up{
    padding: 30px 0 20px 0;
}
.sign-up h4{
    margin-bottom: 10px;
    font-size: 20px;
}
.link-signup{
    font-size: 18px;
    transition: 0.5;
    color:rgb(55, 92, 253);
    text-decoration: none;
}
.link-signup:hover{
    color: #a2a2a2;
}